<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<% var _title="" ; if(title !=undefined && title !=null){ _title=title; } %>

    <head>
        <title>KQXS:
            <%=_title%>
        </title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
        <!-- start: GOOGLE FONTS -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
        <!-- end: GOOGLE FONTS -->
        <link rel="stylesheet" href="/themes/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/themes/vendor/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/themes/vendor/themify-icons/themify-icons.min.css">
        <link href="/themes/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
        <link href="/themes/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
        <link href="/themes/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
        <link href="/themes/vendor/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/plugins/bootstrap-select/css/bootstrap-select.css" />
        <!-- end: MAIN CSS -->
        <!-- start: CLIP-TWO CSS -->
        <link rel="stylesheet" href="/themes/assets/css/styles.css">
        <link rel="stylesheet" href="/themes/assets/css/plugins.css">
        <link rel="stylesheet" href="/themes/assets/css/themes/theme-1.css" />
        <link rel="stylesheet" href="/toastr/toastr.min.css" />
        <link rel="stylesheet" href="/plugins/loading/style.css" />

        <link rel="stylesheet" href="/plugins/confirm/css/jquery-confirm.min.css" />

        <!-- end: HEAD -->
        <!-- start: MAIN JAVASCRIPTS -->
        <script src="/themes/vendor/jquery/jquery.min.js"></script>
        <script src="/themes/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/themes/vendor/modernizr/modernizr.js"></script>
        <script src="/themes/vendor/jquery-cookie/jquery.cookie.js"></script>
        <script src="/themes/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="/themes/vendor/switchery/switchery.min.js"></script>
        <script src="/themes/vendor/moment/moment.js"></script>
        <script src="/themes/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

        <!-- end: MAIN JAVASCRIPTS -->
        <script src="/library/model-form.js"></script>
        <script src="/toastr/toastr.min.js"></script>
        <!-- *********************************************************************************** -->
        <script src="/javascripts/app.js"></script>

        <script src="/library/_script.js"></script>
        <script src="/library/notifies.js"></script>
        <script src="/library/regex.js"></script>
        <script src="/library/library.js"></script>
        <script src="/plugins/loading/loading.js"></script>
        <script src="/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="/plugins/confirm/js/jquery-confirm.min.js"></script>
        <script src="/plugins/paging/jquery.bootpag.min.js"></script>
        <script src="/library/event.js"></script>
    </head>

    <body>
        <div id="app">
            <%- include('../partials/menu-left.ejs') %>
                <div class="app-content">
                    <%- include('../partials/header.ejs') %>
                        <div class="main-content">
                            <div class="wrap-content container" id="container">
                                <!-- start: DASHBOARD TITLE -->
                                <section id="page-title" class="padding-top-15 padding-bottom-15">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <span class="mainDescription">
												<%=_title%>
											</span>
                                        </div>
                                        <div class="col-sm-5">
                                        </div>
                                    </div>
                                </section>
                                <!-- end: DASHBOARD TITLE -->
                                <div class="container-fluid container-fullw bg-white" style="min-height: 768px;">
                                    <div class="row">
                                        <%-body %>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
                <%- include('../partials/footer.ejs') %>
        </div>

        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="/themes/vendor/Chart.js/Chart.min.js"></script>
        <script src="/themes/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CLIP-TWO JAVASCRIPTS -->
        <script src="/themes/assets/js/main.js"></script>
        <!-- start: JavaScript Event Handlers for this page -->
        <script src="/themes/assets/js/index.js"></script>


        <script>
            jQuery(document).ready(function() {
                Main.init();
                //Index.init();
            });
        </script>
        <!-- end: JavaScript Event Handlers for this page -->
        <!-- end: CLIP-TWO JAVASCRIPTS -->
    </body>

</html>