<%   
    var  id  =  "";
    var areaId  = 0;
    var categoryId = "";
    var bosoVal = "";
    var kqxsVal = "";   
    var textRs = "";   
    var bosoCategoryId = "";  
    var executionDate = "";  
    var isChecked = ""; 

    if (models.item !=null) {
        id =  models.item.id;
         areaId  = models.item.areaId;
         categoryId = models.item.bosoCategoryId;
         bosoVal = models.item.bosoVal;
         kqxsVal = models.item.kqxsVal;  
         textRs = models.item.textRs;  
         //
         var date = new Date(models.item.executionDate);
            var mnth = ("0" + (date.getMonth() + 1)).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);
            executionDate = [day,mnth,date.getFullYear()].join("-");

        if (models.item.isMatched) {
            isChecked = "checked"; 
        }
    }

%>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Vùng miền: <%=categoryId%></label>
                        <select id="ddlArea" name="ddlArea" class="form-control show-tick" disabled data-live-search="true">
                            <option value="0">-chọn-</option>
                            <% if (models!= null) {
                                
                                models.areaList.forEach(function(element){ 
                                    var selected = "";
                                    if(element.areaId== areaId)
                                       selected = "selected";
                                    %>
                                <option value="<%= element.areaId %>" <%=selected %>><%= element.areaName %></option>
                            <% });} %>
                        </select>
                        <span id="lblArea" class="message msg-box"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Nhóm dịch vụ:</label>
                        <select id="ddlCategory" name="ddlCategory" class="form-control show-tick" disabled data-live-search="true">
                            <option value="">-chọn-</option>
                            <% if (models!= null) {
                               
                                models.bosoCate.forEach(function(element){
                                    var selected = "";
                                     if(element.id == categoryId)
                                       selected = "selected";
                                    %>
                                <option value="<%= element.id %>" <%=selected  %> ><%= element.name %></option>
                            <% });} %>
                        </select>
                        <span id="lblCategory" class="message msg-box"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Dự đoán:</label>
                        <input id="txtValue" name="txtValue" maxlength="50" type="text" class="form-control" value="<%=bosoVal%>" disabled />
                        <span id="lblValue" class="message msg-box"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Kết quả:</label>
                        <input id="txtKqxs" name="txtKqxs" maxlength="50" type="text" class="form-control" value="<%=kqxsVal%>" />
                        <span id="txtKqxs" class="message msg-box"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Text:</label>
                <input id="txtNote" name="txtNote" maxlength="80" type="text" class="form-control" value="<%=textRs%>" />
                <span id="lblNote" class="message msg-box"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Ngày quay:</label>
                        <input id="txtExecutionDate" name="txtExecutionDate" maxlength="10" type="text" class="form-control" value="<%=executionDate%>" placeholder="dd-mm-yyyy" disabled />
                        <span id="lbltxtExecutionDate" class="message msg-box"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Trạng thái:</label>
                        <div class="checkbox clip-check check-primary">
                            <input type="checkbox" id="cbxActive" name="cbxActive" value="1" <%=isChecked%>>
                            <label for="cbxActive">
                        Trúng
                        </label>
                        </div>
                        <span id="lblActive" class="message msg-box"></span>
                    </div>
                </div>
            </div>

            <div class="form-group text-right">
                <a href="/backend/matched/index" class="btn btn-info" type="reset">Danh sách</a>
                <button id="btnReset" data-reload="true" class="btn btn-primary" type="reset">Làm mới</button>
                <button id="btnUpdate" class="btn btn-success" type="button">Cập nhật</button>
            </div>
            <div class="form-group">
                <hr />
            </div>
            <input id="txtId" name="txtId" type="hidden" value="<%=id%>" />
        </div>

    </div>
    <script src="/javascripts/app-matched.js"></script>